<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lol.studyapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StudyApp">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".RecyclerViewActivity" />
        <activity android:name=".DataActivity" />
        <activity android:name=".ThreadActivity" />
        <activity android:name=".activities.NextActivity" />
        <activity android:name=".mvp.ViewMVP" />
        <activity android:name=".fragments.FragmentsActivity" />
        <activity android:name=".fragments.FragmentAddActivity" />
        <activity android:name=".fragments.FragmentReplaceActivity" />
        <activity android:name=".fragments.FragmentPagerActivity" />
        <activity android:name=".fragments.MyFragmentActivity" />
        <activity android:name=".activities.FirstActivity"/>
        <activity android:name=".activities.SecondActivity"/>
        <activity android:name=".activities.ThirdActivity"/>
        <activity android:name=".mvvm.ViewMVVM" />
        <activity android:name=".PermissionsActivity" />

    </application>

</manifest>